---
---

@import "{{ site.theme }}";

body {
  background:#000000;
}

header {
  background: #000000;
  border: 1px solid #12939A;
  
}

#banner {
  background: #73568F;

  .button {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    
    &:hover {
      background-color: #AE9EFF;
    }
  }
}
