---
---

@import "{{ site.theme }}";

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#000000;
}

header {
  background: #000000;
  border: 1px solid #12939A;
  
  h1 {
    font: 40px/48px "Mukta";
  }
}

#banner {
  background: #FFC043;

  .button {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    
    &:hover {
      background-color: #BCE5C0;
    }
  }
}
