---
---

@import "{{ site.theme }}";

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#FFFFFF;
}

header {
  background: #FFC043;
}

#banner {
  background: url(../images/global-aqua.jpg) #B1E7D6;
}

